# Import Libraries

In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

# Import Datasets

In [131]:
# Import Datasets
df_or = pd.read_csv('datasets/OrderReport.csv')
print(df_or.head())

               Date  Order # N. Revenue (formatted)     Status  \
0  14/09/2023 20:37    15072              RM117.80   completed
1  14/09/2023 19:38    15069               RM32.90   completed
2  14/09/2023 19:09    15068               RM57.90   completed
3  14/09/2023 17:25    15066               RM32.90   completed
4  14/09/2023 17:17    15065              RM167.90   completed

                Customer Customer type  \
0        narimah mokhtar     returning
1  sudiana mohamad rasib           new
2          Haizum Hasnan           new
3        Hanifizah Wahid     returning
4     Zuhaidah Abd razak           new

                                          Product(s)  Items sold  N. Revenue  \
0  1× COLLAGEN SERUM FOUNDATION ALHA ALFA - LIGHT...           2       109.8
1                        1× LIP BOOSTER - STRAWBERRY           1        24.9
2     1× COLLAGEN SERUM FOUNDATION ALHA ALFA - LIGHT           1        49.9
3                        1× LIP BOOSTER - STRAWBERRY           1        24.9
4  1× MERDEKA SET PRETTYOTIC, 1× MASCARA - Doll E...           5       159.9

       State Gender  Age
0     Perlis      F   36
1      Johor      F   25
2     Melaka      F   31
3   Kelantan      F   31
4  Putrajaya      F   38

In [132]:
df_pl = pd.read_csv('datasets/ProductList.csv')
print(df_pl.head())

                      Product / Variation title    SKU  Items sold  \
0                      LIP BOOSTER - WATERMELON  00597        2590
1                      LIP BOOSTER - STRAWBERRY  00602        2563
2  COLLAGEN SERUM FOUNDATION ALHA ALFA - MEDIUM  00608        1067
3   COLLAGEN SERUM FOUNDATION ALHA ALFA - LIGHT  00607         728
4                           LIP BOOSTER - MELON  00610         651

   N. Revenue  Orders    Status  Stock
0     63270.9    2299  In stock     11
1     63768.9    2280  In stock    134
2      7435.1    1005  In stock     33
3      7135.7     690  In stock     41
4     16209.9     587  In stock    177

In [133]:
df_rr = pd.read_csv('datasets/RevenueReport.csv')
print(df_rr.head())

                  Date  Orders  Gross sales  Returns  Coupons  Net sales  \
0  2023-10-26 00:00:00      12        917.7      0.0      0.0      917.7
1  2023-10-25 00:00:00      31       1664.7      0.0      0.0     1664.7
2  2023-10-24 00:00:00      11        803.0      0.0      0.0      803.0
3  2023-10-23 00:00:00      16        867.5      0.0      0.0      867.5
4  2023-10-22 00:00:00      17        986.9      0.0      0.0      986.9

   Taxes  Shipping  Total sales
0    0.0     100.0       1017.7
1    0.0     264.0       1928.7
2    0.0      96.0        899.0
3    0.0     136.0       1003.5
4    0.0     144.0       1130.9

In [134]:
df_wb = pd.read_csv('datasets/website_bestsellers.csv')
print(df_wb.head())

                          product_name  product_price
0                          LIP BOOSTER           24.9
1  COLLAGEN SERUM FOUNDATION ALHA ALFA           49.9
2                SET DIMENSI ALHA ALFA           79.9
3         MAGIC GLOW LIP TREATMENT OIL           24.9
4     ROYAL PROPOLIS POWDER FOUNDATION           59.9

In [135]:
df_ttb = pd.read_csv('datasets/tiktok_bestsellers.csv')
print(df_ttb.head())

                                        product_name  product_price  \
0                   ALHA ALFA LIP BOOSTER SERUM Lips           24.9
1             ALHA ALFA MAGIC GLOW LIP TREATMENT OIL           24.9
2   ALHA ALFA ROYAL PROPOLIS FOUNDATION PERFECT GLOW           69.9
3  ALHA ALFA COMPACT POWDER ROYAL PROPOLIS FOUNDA...           59.9
4                     ALHA ALFA SETTING SPRAY MAKEUP           59.9

   items_sold  rating  rating_count
0      104400     4.9         27000
1       35400     4.8          8800
2       30400     4.9          8300
3       27400     4.9         27600
4       23500     4.9          6400

# Identifying and Handling Missing Values, Duplicate Data, and Incorrect Data Types

In [136]:
# Find out the number of rows and columns in each dataset
print("OrderReport: ", df_or.shape)
print("ProductList: ", df_pl.shape)
print("RevenueReport: ", df_rr.shape)
print("WebsiteBestsellers: ", df_wb.shape)
print("TiktokBestsellers: ", df_ttb.shape)

OrderReport:  (7083, 12)
ProductList:  (111, 7)
RevenueReport:  (299, 9)
WebsiteBestsellers:  (37, 2)
TiktokBestsellers:  (23, 5)

In [137]:
# Find out the number of missing values in each dataset
print("OrderReport: \n", df_or.isnull().sum())
print("ProductList: \n", df_pl.isnull().sum())
print("RevenueReport: \n", df_rr.isnull().sum())
print("WebsiteBestsellers: \n", df_wb.isnull().sum())
print("TiktokBestsellers: \n", df_ttb.isnull().sum())

OrderReport:
 Date                      0
Order #                   0
N. Revenue (formatted)    0
Status                    0
Customer                  0
Customer type             0
Product(s)                0
Items sold                0
N. Revenue                0
State                     0
Gender                    0
Age                       0
dtype: int64
ProductList:
 Product / Variation title    0
SKU                          0
Items sold                   0
N. Revenue                   0
Orders                       0
Status                       0
Stock                        0
dtype: int64
RevenueReport:
 Date           0
Orders         0
Gross sales    0
Returns        0
Coupons        0
Net sales      0
Taxes          0
Shipping       0
Total sales    0
dtype: int64
WebsiteBestsellers:
 product_name     0
product_price    0
dtype: int64
TiktokBestsellers:
 product_name     0
product_price    0
items_sold       0
rating           0
rating_count     0
dtype: int64

In [138]:
# Find out the data types of each column in each dataset
print("OrderReport: \n", df_or.dtypes)
print("ProductList: \n", df_pl.dtypes)
print("RevenueReport: \n", df_rr.dtypes)
print("WebsiteBestsellers: \n", df_wb.dtypes)
print("TiktokBestsellers: \n", df_ttb.dtypes)

OrderReport:
 Date                       object
Order #                     int64
N. Revenue (formatted)     object
Status                     object
Customer                   object
Customer type              object
Product(s)                 object
Items sold                  int64
N. Revenue                float64
State                      object
Gender                     object
Age                         int64
dtype: object
ProductList:
 Product / Variation title     object
SKU                           object
Items sold                     int64
N. Revenue                   float64
Orders                         int64
Status                        object
Stock                          int64
dtype: object
RevenueReport:
 Date            object
Orders           int64
Gross sales    float64
Returns        float64
Coupons        float64
Net sales      float64
Taxes          float64
Shipping       float64
Total sales    float64
dtype: object
WebsiteBestsellers:
 product_name      object
product_price    float64
dtype: object
TiktokBestsellers:
 product_name      object
product_price    float64
items_sold         int64
rating           float64
rating_count       int64
dtype: object

In [139]:
# Find out the number of duplicate rows in each dataset
print("OrderReport: ", df_or.duplicated().sum())
print("ProductList: ", df_pl.duplicated().sum())
print("RevenueReport: ", df_rr.duplicated().sum())
print("WebsiteBestsellers: ", df_wb.duplicated().sum())
print("TiktokBestsellers: ", df_ttb.duplicated().sum())

OrderReport:  0
ProductList:  0
RevenueReport:  0
WebsiteBestsellers:  0
TiktokBestsellers:  0

In [140]:
# remove columns with all null values
df_or = df_or.dropna(axis=1, how='all')
df_pl = df_pl.dropna(axis=1, how='all')
df_rr = df_rr.dropna(axis=1, how='all')
df_wb = df_wb.dropna(axis=1, how='all')
df_ttb = df_ttb.dropna(axis=1, how='all')

# save back to csv
df_or.to_csv('datasets/OrderReport.csv', index=False)
df_pl.to_csv('datasets/ProductList.csv', index=False)
df_rr.to_csv('datasets/RevenueReport.csv', index=False)
df_wb.to_csv('datasets/website_bestsellers.csv', index=False)
df_ttb.to_csv('datasets/tiktok_bestsellers.csv', index=False)

In [141]:
# print the head of each dataset
print("OrderReport: \n", df_or.head())
print("ProductList: \n", df_pl.head())
print("RevenueReport: \n", df_rr.head())
print("WebsiteBestsellers: \n", df_wb.head())
print("TiktokBestsellers: \n", df_ttb.head())

OrderReport:
                Date  Order # N. Revenue (formatted)     Status  \
0  14/09/2023 20:37    15072              RM117.80   completed
1  14/09/2023 19:38    15069               RM32.90   completed
2  14/09/2023 19:09    15068               RM57.90   completed
3  14/09/2023 17:25    15066               RM32.90   completed
4  14/09/2023 17:17    15065              RM167.90   completed

                Customer Customer type  \
0        narimah mokhtar     returning
1  sudiana mohamad rasib           new
2          Haizum Hasnan           new
3        Hanifizah Wahid     returning
4     Zuhaidah Abd razak           new

                                          Product(s)  Items sold  N. Revenue  \
0  1× COLLAGEN SERUM FOUNDATION ALHA ALFA - LIGHT...           2       109.8
1                        1× LIP BOOSTER - STRAWBERRY           1        24.9
2     1× COLLAGEN SERUM FOUNDATION ALHA ALFA - LIGHT           1        49.9
3                        1× LIP BOOSTER - STRAWBERRY           1        24.9
4  1× MERDEKA SET PRETTYOTIC, 1× MASCARA - Doll E...           5       159.9

       State Gender  Age
0     Perlis      F   36
1      Johor      F   25
2     Melaka      F   31
3   Kelantan      F   31
4  Putrajaya      F   38
ProductList:
                       Product / Variation title    SKU  Items sold  \
0                      LIP BOOSTER - WATERMELON  00597        2590
1                      LIP BOOSTER - STRAWBERRY  00602        2563
2  COLLAGEN SERUM FOUNDATION ALHA ALFA - MEDIUM  00608        1067
3   COLLAGEN SERUM FOUNDATION ALHA ALFA - LIGHT  00607         728
4                           LIP BOOSTER - MELON  00610         651

   N. Revenue  Orders    Status  Stock
0     63270.9    2299  In stock     11
1     63768.9    2280  In stock    134
2      7435.1    1005  In stock     33
3      7135.7     690  In stock     41
4     16209.9     587  In stock    177
RevenueReport:
                   Date  Orders  Gross sales  Returns  Coupons  Net sales  \
0  2023-10-26 00:00:00      12        917.7      0.0      0.0      917.7
1  2023-10-25 00:00:00      31       1664.7      0.0      0.0     1664.7
2  2023-10-24 00:00:00      11        803.0      0.0      0.0      803.0
3  2023-10-23 00:00:00      16        867.5      0.0      0.0      867.5
4  2023-10-22 00:00:00      17        986.9      0.0      0.0      986.9

   Taxes  Shipping  Total sales
0    0.0     100.0       1017.7
1    0.0     264.0       1928.7
2    0.0      96.0        899.0
3    0.0     136.0       1003.5
4    0.0     144.0       1130.9
WebsiteBestsellers:
                           product_name  product_price
0                          LIP BOOSTER           24.9
1  COLLAGEN SERUM FOUNDATION ALHA ALFA           49.9
2                SET DIMENSI ALHA ALFA           79.9
3         MAGIC GLOW LIP TREATMENT OIL           24.9
4     ROYAL PROPOLIS POWDER FOUNDATION           59.9
TiktokBestsellers:
                                         product_name  product_price  \
0                   ALHA ALFA LIP BOOSTER SERUM Lips           24.9
1             ALHA ALFA MAGIC GLOW LIP TREATMENT OIL           24.9
2   ALHA ALFA ROYAL PROPOLIS FOUNDATION PERFECT GLOW           69.9
3  ALHA ALFA COMPACT POWDER ROYAL PROPOLIS FOUNDA...           59.9
4                     ALHA ALFA SETTING SPRAY MAKEUP           59.9

   items_sold  rating  rating_count
0      104400     4.9         27000
1       35400     4.8          8800
2       30400     4.9          8300
3       27400     4.9         27600
4       23500     4.9          6400

In [142]:
# check empty sku
# print(df_pl[df_pl['SKU'].isnull()])

# generate sku of 5 digits and random assign to empty sku
random_sku = np.random.randint(10000, 99999)
while random_sku in df_pl['SKU']:
    random_sku = np.random.randint(10000, 99999)
    
df_pl['SKU'] = df_pl['SKU'].fillna(random_sku)
print(df_pl[df_pl['SKU'].isnull()])

# save to csv
df_pl.to_csv('datasets/ProductList.csv', index=False)

Empty DataFrame
Columns: [Product / Variation title, SKU, Items sold, N. Revenue, Orders, Status, Stock]
Index: []